servers:
  default:
    token: null
    urls:
    - null
    - null
    id: null
    config: null
  plex.moot.ovh:
    token: {{ plex_token }}
    urls:
    - http://10.0.3.1:32400
    id: 6fc19b5cfab19151023b661cb3686d84eb8dfe4d
    config: null
