---
- name: Deploy netdev {{ macvlan_shim_iface }}
  ansible.builtin.template:
    src: macvlan.netdev.j2
    dest: "/etc/systemd/network/20-{{ macvlan_shim_iface }}.netdev"
    mode: '0644'
  notify: Restart networkd

- name: Deploy network {{ macvlan_shim_iface }}
  ansible.builtin.template:
    src: macvlan.network.j2
    dest: "/etc/systemd/network/25-{{ macvlan_shim_iface }}.network"
    mode: '0644'
  notify: Restart networkd

- name: Ensure drop-in directory exists for parent interface
  ansible.builtin.file:
    path: "/etc/systemd/network/{{ macvlan_shim_parent_iface }}.network.d"
    state: directory
    mode: '0755'

- name: Add MACVLAN drop-in for parent interface
  ansible.builtin.copy:
    dest: "/etc/systemd/network/{{ macvlan_shim_parent_iface }}.network.d/10-macvlan-shim.conf"
    mode: '0644'
    content: |
      [Network]
      MACVLAN={{ macvlan_shim_iface }}
  notify: Restart networkd
...
