version: '3.7'
services:
  adguardhome:
    image: adguard/adguardhome
    ports:
      - target: 53
        published: 53
        protocol: tcp
        mode: host
      - target: 53
        published: 53
        protocol: udp
        mode: host
      - target: 3000
        published: 3000
        protocol: tcp
        mode: host
    environment:
      - TZ=Europe/Paris
      - ARGS=-u https://dns.adguard.com/dns-query -u https://dns.cloudflare.com/dns-query -u [/moot.ovh/]10.0.1.101 -b 1.1.1.1:53 --fastest-addr --cache 
    restart: unless-stopped
    volumes:
      - /opt/adguard/work:/opt/adguardhome/work
      - /opt/adguard/conf:/opt/adguardhome/conf
