---
- name: Set compose_name and paths
  ansible.builtin.set_fact:
    compose_name: "{{ item | basename | split('.') | first }}"
    compose_dir: compose
    apps_dir: /opt/apps
    compose_files_dir: compose-files
    template_pattern: "*.j2"
    template_suffix: ".j2"

- name: "{{ compose_name }} - Ensures dir exists"
  ansible.builtin.file:
    path: "{{ compose_dir }}/{{ compose_name }}"
    state: directory
    mode: "0775"

- name: "{{ compose_name }} - Copy docker-compose.yml"
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ compose_dir }}/{{ compose_name }}/docker-compose.yml"
    mode: "0644"
  register: compose_modified

- name: "{{ compose_name }} - Create Dir"
  ansible.builtin.file:
    path: "{{ apps_dir }}/{{ compose_name }}"
    state: directory
    mode: "0775"

- name: "{{ compose_name }} - Check if compose-files directory exists"
  ansible.builtin.stat:
    path: "{{ compose_files_dir }}/{{ compose_name }}"
  register: compose_files_dir_stat
  delegate_to: localhost

- name: "{{ compose_name }} - Finding local app files"
  ansible.builtin.find:
    paths: "{{ compose_files_dir }}/{{ compose_name }}"
    patterns: "{{ template_pattern }}"
    recurse: "yes"
    file_type: "file"
    hidden: "yes"
  register: stat_result
  delegate_to: localhost
  when: compose_files_dir_stat.stat.exists and compose_files_dir_stat.stat.isdir

- name: "{{ compose_name }} - Create apps subDir"
  ansible.builtin.file:
    path: "{{ apps_dir }}/{{ compose_item.path | regex_replace('^' + compose_files_dir + '/', '') | dirname }}"
    state: directory
    mode: "0775"
  with_items: "{{ stat_result.files }}"
  loop_control:
    loop_var: compose_item
  when: compose_files_dir_stat.stat.exists and compose_files_dir_stat.stat.isdir and stat_result.matched > 0

- name: "{{ compose_name }} - Copy app files"
  ansible.builtin.template:
    src: "{{ compose_item.path }}"
    dest: "{{ apps_dir }}/{{ compose_item.path | regex_replace('^' + compose_files_dir + '/', '') | regex_replace(template_suffix + '$', '') }}"
    mode: "0644"
  with_items: "{{ stat_result.files }}"
  loop_control:
    loop_var: compose_item
  when: compose_files_dir_stat.stat.exists and compose_files_dir_stat.stat.isdir and stat_result.matched > 0

- name: "{{ compose_name }} - Deploy"
  community.docker.docker_compose_v2:
    project_src: "{{ compose_dir }}/{{ compose_name }}"
  ignore_errors: true
  register: compose_deploy

- name: "{{ compose_name }} - Restat compose if compose_modified"
  community.docker.docker_compose_v2:
    project_src: "{{ compose_dir }}/{{ compose_name }}"
    state: restarted
  ignore_errors: true
  tags:
    - skip_ansible_lint
  when: compose_modified is changed and compose_deploy is not changed

- name: "{{ compose_name }} - Add firewall rules for exposed ports"
  ansible.builtin.include_tasks: tasks/add-firewall-ports.yml

