---
- name: Set compose_name
  ansible.builtin.set_fact:
    compose_name: "{{ item | basename | split('.') | first }}"

- name: "{{ compose_name }} - Ensures dir exists"
  ansible.builtin.file:
    path: "compose/{{ compose_name }}"
    state: directory
    mode: "0775"

- name: "{{ compose_name }} - Copy docker-compose.yml"
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "compose/{{ compose_name }}/docker-compose.yml"
    mode: "0644"
  register: compose_modified

- name: "{{ compose_name }} - Create Dir"
  ansible.builtin.file:
    path: "/opt/apps/{{ compose_name }}"
    state: directory
    mode: "0775"

- name: "{{ compose_name }} - Check if compose-files directory exists"
  ansible.builtin.stat:
    path: "compose-files/{{ compose_name }}"
  register: compose_files_dir
  delegate_to: localhost

- name: "{{ compose_name }} - Finding local app files"
  ansible.builtin.find:
    paths: "compose-files/{{ compose_name }}"
    patterns: "*.j2"
    recurse: "yes"
    file_type: "file"
    hidden: "yes"
  register: stat_result
  delegate_to: localhost
  when: compose_files_dir.stat.exists and compose_files_dir.stat.isdir

- name: "{{ compose_name }} - Create apps subDir"
  ansible.builtin.file:
    path: "/opt/apps/{{ compose_item.path | regex_replace('^compose-files/', '') | dirname }}"
    state: directory
    mode: "0775"
  with_items: "{{ stat_result.files }}"
  loop_control:
    loop_var: compose_item
  when: compose_files_dir.stat.exists and compose_files_dir.stat.isdir and stat_result.matched > 0

- name: "{{ compose_name }} - Copy app files"
  ansible.builtin.template:
    src: "{{ compose_item.path }}"
    dest: "/opt/apps/{{ compose_item.path | regex_replace('^compose-files/', '') | regex_replace('.j2$', '') }}"
    mode: "0644"
  with_items: "{{ stat_result.files }}"
  loop_control:
    loop_var: compose_item
  when: compose_files_dir.stat.exists and compose_files_dir.stat.isdir and stat_result.matched > 0

- name: "{{ compose_name }} - Deploy"
  community.docker.docker_compose_v2:
    project_src: "compose/{{ compose_name }}"
  register: compose_deploy

- name: "{{ compose_name }} - Restat compose if compose_modified"
  community.docker.docker_compose_v2:
    project_src: "compose/{{ compose_name }}"
    state: restarted
  tags:
    - skip_ansible_lint
  when: compose_modified is changed and compose_deploy is not changed
