---
- name: Remove firewall rules for {{ item }}
  ansible.builtin.include_tasks: tasks/remove-firewall-ports.yml

- name: Docker compose down on {{ item }}
  community.docker.docker_compose_v2:
    project_src: "compose/{{ item }}"
    state: absent

- name: Delete compose directory {{ item }}
  ansible.builtin.file:
    path: "compose/{{ item }}"
    state: absent
