---
- name: Read stored ports for {{ item }}
  ansible.builtin.slurp:
    src: /etc/firewalld/compose-ports/{{ item }}.txt
  register: stored_ports
  failed_when: false

- name: Remove firewall rules for {{ item }}
  ansible.posix.firewalld:
    zone: drop
    port: "{{ port_item }}"
    state: disabled
    permanent: true
    immediate: true
  loop: "{{ (stored_ports.content | b64decode).split('\n') | select('match', '^[0-9]+/(tcp|udp)$') | list }}"
  loop_control:
    loop_var: port_item
  when: stored_ports.content is defined

- name: Remove stored ports file for {{ item }}
  ansible.builtin.file:
    path: /etc/firewalld/compose-ports/{{ item }}.txt
    state: absent
