# Cloudflare API token with DNS edit privileges
# See: https://certbot-dns-cloudflare.readthedocs.io/
# Provided via Ansible variable `certbot_cloudflare_api_token` in secrets

dns_cloudflare_api_token = {{ certbot_cloudflare_api_token }}
