---
- name: Reload nftables
  ansible.builtin.systemd:
    name: nftables
    state: reloaded

- name: Reload firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: reloaded

- name: Restart Docker
  ansible.builtin.service:
    name: docker
    state: restarted

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
