---
services:
  ocpp-proxy:
    image: sys10.moot.ovh:5001/websocket-proxy:latest
    pull_policy: always
    restart: unless-stopped
    ports:
      - target: 8765
        published: 8765
        protocol: tcp
      