---
services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    pull_policy: always
    #user: "10010:10008"
    environment:
      - TZ=Europe/Paris
      - PLEX_CLAIM={{ plex_claim }}
      - PLEX_UID=10010
      - PLEX_GID=10008
      - CHANGE_CONFIG_DIR_OWNERSHIP=false
    network_mode: host
    hostname: plex.moot.ovh
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card1:/dev/dri/card1
    volumes:
      - /opt/apps/plex/database:/config
      - /opt/apps/plex/transcode:/transcode
      - /datas/dls/media:/media
