services:
  yamtrack:
    container_name: yamtrack
    image: ghcr.io/fuzzygrim/yamtrack
    restart: unless-stopped
    depends_on:
      - redis
    environment:
      - TZ=Europe/Paris
      - SECRET=longstring
      - REDIS_URL=redis://redis:6379
    volumes:
      - /opt/apps/yamtrack/db:/yamtrack/db
    ports:
      - "8282:8000"
    networks:
      - default
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.yamtrack.rule=Host(`yamtrack.{{inventory_hostname}}`)"
      - "traefik.http.services.yamtrack.loadbalancer.server.port=8000"

  redis:
    container_name: yamtrack-redis
    image: redis:8-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data

volumes:
  redis_data:

networks:
  traefik:
    external: true
