---
services:
  psacc:
    image: sys10.moot.ovh:5001/psacc-patch:latest
    pull_policy: always
    restart: unless-stopped
    ports:
      - target: 5000
        published: 5000
        protocol: tcp
    volumes:
      - /opt/apps/psacc:/config
    environment:
      - PSACC_OPTIONS=-r --web-conf -c
