---
services:
  psacc:
    image: flobz/psa_car_controller:v3.6.2
    pull_policy: always
    restart: unless-stopped
    ports:
      - target: 5000
        published: 5000
        protocol: tcp
    volumes:
      - /opt/apps/psacc:/config
    environment:
      - PSACC_OPTIONS=-r --web-conf -c
