{{ ansible_managed | comment }}
import ldap

import logging, logging.handlers
logfile = "/srv/netbox/shared/django-ldap-debug.log"
my_logger = logging.getLogger('django_auth_ldap')
my_logger.setLevel(logging.DEBUG)
handler = logging.handlers.RotatingFileHandler(
   logfile, maxBytes=1024 * 500, backupCount=5)
my_logger.addHandler(handler)


from django_auth_ldap.config import LDAPSearch, GroupOfNamesType


AUTH_LDAP_SERVER_URI = "{{ netbox_ldap_server_uri }}"
AUTH_LDAP_BIND_DN = "{{ netbox_ldap_bind_dn }}"
AUTH_LDAP_BIND_PASSWORD = "{{ netbox_ldap_bind_pass }}"

AUTH_LDAP_CONNECTION_OPTIONS = {
    ldap.OPT_REFERRALS: 0
}

LDAP_IGNORE_CERT_ERRORS = False

#AUTH_LDAP_USER_SEARCH = LDAPSearch("ou=Users,{{ netbox_ldap_base_dn }}",
#                                    ldap.SCOPE_SUBTREE,
#                                    "(sAMAccountName=%(user)s)")

AUTH_LDAP_USER_ATTR_MAP = {
    "first_name": "givenName",
    "last_name": "sn",
    "email": "mail"
}

AUTH_LDAP_USER_DN_TEMPLATE = "uid=%(user)s,cn=users,cn=accounts,{{ netbox_ldap_base_dn }}"

AUTH_LDAP_GROUP_SEARCH = LDAPSearch("{{ netbox_ldap_base_dn }}", ldap.SCOPE_SUBTREE,
                                    "(objectClass=ipausergroup)")
AUTH_LDAP_GROUP_TYPE = GroupOfNamesType()
#AUTH_LDAP_REQUIRE_GROUP = "cn=ipausers,cn=groups,cn=accounts,{{ netbox_ldap_base_dn }}"
AUTH_LDAP_USER_FLAGS_BY_GROUP = {
    "is_active": "cn=ipausers,cn=groups,cn=accounts,{{ netbox_ldap_base_dn }}",
    "is_staff": "cn=editors,cn=groups,cn=accounts,{{ netbox_ldap_base_dn }}",
    "is_superuser": "cn=admins,cn=groups,cn=accounts,{{ netbox_ldap_base_dn }}"
}
AUTH_LDAP_FIND_GROUP_PERMS = True
AUTH_LDAP_CACHE_GROUPS = True
AUTH_LDAP_GROUP_CACHE_TIMEOUT = 3600

# vim: ft=python
