---
- name: List Existing SMB Share Files
  ansible.builtin.find:
    paths: "{{ share_manager_smb_shares_dir }}"
    patterns: "*.conf"
  register: share_manager_smb_existing_files

- name: Build Expected SMB Share File List
  ansible.builtin.set_fact:
    share_manager_smb_expected_files: >-
      {{
        share_manager_shares_normalized
        | map(attribute='name')
        | map('regex_replace', '(^.*$)', share_manager_smb_shares_dir ~ '/\1.conf')
        | list
      }}

- name: Remove Obsolete SMB Share Files
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ share_manager_smb_existing_files.files }}"
  when: item.path not in share_manager_smb_expected_files
  notify: Restart Samba

- name: Remove Obsolete SMB Includes From smb.conf
  ansible.builtin.lineinfile:
    path: "{{ smb_main_config }}"
    state: absent
    regexp: "^include = {{ item.path | regex_escape }}$"
  loop: "{{ share_manager_smb_existing_files.files }}"
  when: item.path not in share_manager_smb_expected_files
  notify: Restart Samba
