---
- name: Read /etc/exports File
  ansible.builtin.slurp:
    path: /etc/exports
  register: share_manager_exports_raw

- name: Parse Existing NFS Export Lines
  ansible.builtin.set_fact:
    share_manager_nfs_existing_lines: >-
      {{
        (share_manager_exports_raw.content | b64decode).split('\n')
        | select('match', '^/')
        | list
      }}

- name: Build Expected NFS Export Lines
  ansible.builtin.set_fact:
    share_manager_nfs_expected_lines: >-
      {{
        share_manager_shares_normalized
        | map(attribute='path')
        | map('regex_replace', '^(.*)$', '\\1 ' ~ share_manager_nfs_default_options)
        | list
      }}

- name: Remove Obsolete NFS Export Lines
  ansible.builtin.lineinfile:
    path: /etc/exports
    state: absent
    regexp: "^{{ item | regex_escape }}$"
  loop: "{{ share_manager_nfs_existing_lines }}"
  when: item not in share_manager_nfs_expected_lines
  notify: Restart NFS
