---
services:
  deluge:
    image: ghcr.io/linuxserver/deluge
    container_name: deluge
    environment:
      - PUID=999
      - PGID=1004
      - TZ=Europe/Paris
      - UMASK_SET=007 #optional
      #- DELUGE_LOGLEVEL=error #optional
    hostname: deluge.moot.ovh
    networks:
      macvlan:
        ipv4_address: 10.0.3.4
    volumes:
      - /opt/apps/deluge/config:/config
      - /datas/dls/deluge:/datas
    restart: unless-stopped

networks:
  macvlan:
    external: true
