---
services:
  mediasort:
    container_name: media-sort
    image: chaudhryfaisal/media-sort:amd64-6f3e0e3166
    user: "999:1004"
    environment:
      - TZ=Europe/Paris
    volumes:
      - /datas:/datas
    restart: unless-stopped
    {% raw %}
    command: -a 93 -t /datas/Shares/Media/Series/ -m /datas/Shares/Media/Films/ --tv-template '{{ .Name }}/S{{ printf "%02d" .Season }}/{{ .Name }} S{{ printf "%02d" .Season }}E{{ printf "%02d" .Episode }}{{ if ne .ExtraEpisode -1 }}-{{ printf "%02d" .ExtraEpisode }}{{end}}.{{ .Ext }}' -r -s -w /opt/apps/aria2/dl/Ended/
    {% endraw %}
    # limit the log size to 1M to prevent your hard disk from running out of space.
    logging:
      driver: json-file
      options:
        max-size: 1m
