---
services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    #user: "10010:10008"
    environment:
      - TZ=Europe/Paris
      - PLEX_CLAIM={{ plex_claim }}
      - PLEX_UID=10010
      - PLEX_GID=10008
      - CHANGE_CONFIG_DIR_OWNERSHIP=false
    networks:
      macvlan:
        ipv4_address: 10.0.3.1
    hostname: plex.moot.ovh
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card1:/dev/dri/card1
    volumes:
      - /datas/apps/plex/database:/config
      - /datas/apps/plex/transcode:/transcode
      - /datas/dls/media:/media


networks:
  macvlan:
    name: macvlan
    external: true
